In [1]:
import boxofficemojo_scraper
import pandas as pd
import pickle

In [2]:
# boxofficemojo_scraper.generate_yearly_dataframes(2010, 2019)

In [3]:
bom_df = []

for year in range(2019, 2009, -1):
    with open(f'../data/yearly_2d_lists/{year}_list','rb') as read_file:
        year_list = pickle.load(read_file)

    bom_df = bom_df + year_list

df = pd.DataFrame(bom_df, columns = ['title','domestic_gross', 'distributor', 'budget', 'release_date', 'rating', 'genre', 'release_duration'])

df

,title,domestic_gross,distributor,budget,release_date,rating,genre,release_duration
0,Avengers: Endgame,858373000,Walt Disney Studios Motion Pictures,356000000,Apr 26,PG-13,"Action,Adventure,Drama,Sci-Fi",250
1,The Lion King,543638043,Walt Disney Studios Motion Pictures,260000000,Jul 19,PG,"Adventure,Animation,Drama,Family,Musical",168
2,Toy Story 4,434038008,Walt Disney Studios Motion Pictures,200000000,Jun 21,G,"Adventure,Animation,Comedy,Family,Fantasy",196
3,Frozen II,477373578,Walt Disney Studios Motion Pictures,150000000,Nov 22,PG,"Adventure,Animation,Comedy,Family,Fantasy,Musical",421
4,Captain Marvel,426829839,Walt Disney Studios Motion Pictures,160000000,Mar 8,PG-13,"Action,Adventure,Sci-Fi",299
...,...,...,...,...,...,...,...,...
8316,Box Elder,48996,,None,Mar 3,None,Comedy,"1,034"
8317,The Blue Tooth Virgin,2762,Regent Releasing,None,Sep 25,R,"Comedy,Drama",463
8318,Breakfast with Scot,46060,Regent Releasing,None,Oct 10,PG-13,"Comedy,Drama,Music,Romance,Sport",813
8319,To Die Is Hard,5129,Driving With Our Eyes Shut,None,Dec 17,None,"Action,Comedy","2,937"
8320,From Mexico with Love,548787,Roadside Attractions,None,Oct 9,PG-13,"Action,Drama,Family,Sport",449

In [4]:
df['movie_id'] = df.title + ' - ' + df.release_date

In [5]:
df.loc[df['title'] == 'Aquaman']

,title,domestic_gross,distributor,budget,release_date,rating,genre,release_duration,movie_id
19,Aquaman,335061807,Warner Bros.,None,Dec 21,PG-13,"Action,Adventure,Fantasy,Sci-Fi",376,Aquaman - Dec 21
923,Aquaman,335061807,Warner Bros.,None,Dec 21,PG-13,"Action,Adventure,Fantasy,Sci-Fi",376,Aquaman - Dec 21

In [6]:
df = df.drop_duplicates(subset=['movie_id'])
df.loc[df['title'] == 'Aquaman']

,title,domestic_gross,distributor,budget,release_date,rating,genre,release_duration,movie_id
19,Aquaman,335061807,Warner Bros.,None,Dec 21,PG-13,"Action,Adventure,Fantasy,Sci-Fi",376,Aquaman - Dec 21

In [7]:
with open(f'../data/the_numbers/budgets_df','rb') as read_file:
	budgets_df = pickle.load(read_file)

budgets_df

,rank,release_date,title,tn_budget
0,1,"Apr 23, 2019",Avengers: Endgame,400000000
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000
2,3,"Apr 22, 2015",Avengers: Age of Ultron,365000000
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,306000000
4,5,"Apr 25, 2018",Avengers: Infinity War,300000000
...,...,...,...,...
2380,"6,067","Nov 25, 2011",The Ridges,17300
2381,"6,069","Apr 2, 2010",Breaking Upwards,15000
2382,"6,080","May 19, 2015",Family Motocross,10000
2383,"6,081","Jan 13, 2012",Newlyweds,9000
2384,"6,089","Sep 29, 2015",A Plague So Pleasant,1400

In [8]:
merged_df = df.merge(budgets_df, how='left', on='title')
merged_df.drop(['movie_id', 'rank'], axis = 1)

KeyError: "['movie_id' 'rank'] not found in axis"

In [9]:
merged_df.loc[merged_df['title'] == 'Aquaman']

,title,domestic_gross,distributor,budget,release_date_x,rating,genre,release_duration,movie_id,rank,release_date_y,tn_budget
19,Aquaman,335061807,Warner Bros.,None,Dec 21,PG-13,"Action,Adventure,Fantasy,Sci-Fi",376,Aquaman - Dec 21,148,"Dec 6, 2018",160000000